[Unit]
Description=FastAPI Music Server
After=network.target

[Service]
User=alexa
WorkingDirectory=/home/alexa/segp-1/server/experimental
Environment=PATH=/home/alexa/.conda/envs/musicenv/bin:$PATH
ExecStart=/home/alexa/.conda/envs/musicenv/bin/python music.py

[Install]
WantedBy=multi-user.target
